/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variabili */
:root {
    --main-color: #11161e;
    --sidebar-color: #000;
    --footer-color: #282828;
    --white-color: #fff;
    --grey-color: #566979;
}


/* Regole CSS generali */
html{
    font-family: sans-serif;
}

.d-flex {
    display: flex;
}
.s-between {
    justify-content: space-between;
}
.align-c {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}
.overflow-scroll {
    overflow-y: scroll;
}
.t-center {
    text-align: center;
}
.c-white {
    color: var(--white-color);
}
.c-grey {
    color: lightgray;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.mtb-10 {
    margin: 10px 0;
}
.plr-5 {
    padding: 0 5px;
}
.plr-10 {
    padding: 0 10px;
}
.pb-5 {
    padding-bottom: 5px;
}
.ptb-5 {
    padding: 5px 0;
}
.ptb-10 {
    padding: 10px 0;
}
.ptb-1 {
    padding: 1rem 0;
}
.ptb-2 {
    padding: 1rem 0;
}
.small-size {
    font-size: 12px;
}
.icon-size {
    font-size: 16px;
}
.big-icon-size {
    font-size: 24px;
}
.hide {
    display: none;
}
.sidebar-icon {
    font-size: 30px;
}



/* MAIN */
main {
    background-color: var(--main-color);
    height: calc(100vh - 100px);
}

/* SIDEBAR - menu di sinistra */
.sidebar {
    background-color: var(--sidebar-color);
    width: 50px;
    padding: 10px;
    position: relative;
}

.sidebar img {
    filter: grayscale(100%);
    width: 100%;
}
.add-playlist i {
    color: var(--sidebar-color);
    background-color: lightgray;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.add-playlist h3 {
    font-size: 1rem;
    padding: 10px 0 5px 0;
}
.sidebar-main {
    width: 100%;
    height: 150px;
}
.sidebar-main h4 {
    padding-bottom: 10px;
}
.sidebar-footer .icon-filter {
    color: var(--white-color);
    font-size: 30px;
}
.sidebar-footer i {
    width: 20%;
}
.sidebar-footer .text {
    width: calc(80% - 20px);   
}
.fa-circle-down {
    margin: auto;
}
.sidebar-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 10px;
}




/* CONTENT */
.content {
    width: calc(100% - 50px);
}
.overflow-scroll::-webkit-scrollbar { 
    display: none;
}

/* DIV - call-to-action */
#cta {
    position: fixed;
    left: 50px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 70px;
    width: calc(100% - 50px);
    justify-content: flex-end;
}
#cta a {
    border: 2px solid var(--white-color);
    border-radius: 30px;
    padding: 10px 20px;
    color: var(--white-color);
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
}

/* NAV - barra di navigazione del content */
.content-nav {
    margin-top: 80px;
    text-align: center;
}
.content-nav li {
    display: inline-block;
    margin: 10px;
}
.content-nav a {
    text-decoration: none;
    color: var(--grey-color);
    font-weight: bold;
    font-size: 14px;
}

/* SECTION */
.cover-list {
    list-style: none;
}
.cover-item {
    width: 50%;
    padding: 20px;
}
.cover-container {
    text-align: center;
}
.cover-container img {
    width: 100%;
}
.cover-container h3 {
    font-size: 14px;
    padding: 10px 0;
}
.cover-container h4 {
    font-size: 12px;
}
.rounded img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
}




/* FOOTER */
footer {
    background-color: var(--footer-color);
    height: 100px;
    padding: 1rem;
}
.f-box li {
    display: inline-block;
    margin: 10px;
}
.f-box .progress-bar {
    background-color: grey;
    width: 100%;
    height: 5px;
    border-radius: 5px;
}
.progress-bar div {
    height: 5px;
    width: 25%;
    border-radius: 5px;
    background-color: lightgrey;
}
.f-box img {
    height: 60px;
    width: 70px;
}
.f-box.left {
    width: 20%
}
.f-box.center {
    width: 40%
}
.f-box.right {
    width: 20%;
}





/* MEDIA QUERY */
@media screen and (min-width: 576px) {
    .sidebar {
        width: 200px;
    }
    .content {
        width: calc(100% - 200px);
    }
    #cta {
        width: calc(100% - 200px);
        left: 200px;
    }
    .hide {
        display: block;
    }
    .logo {
        display: none;
    }
    .sidebar-icon {
        width: 20%;
    }
    .menu-sidebar .text {
        width: 80%;
    }
    .sidebar-footer .text {
        width: 80%;
        padding-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .cover-item {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .cover-item {
        width: calc(100% / 6);
    }
}

@media screen and (min-width: 1200px) {
    
}